/*reset margin and padding for all elements*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #ECE2D8;
    --text-color: #25555a;
    --pink: #D88198;
    --mustard-yellow:#E5C376;
    --green: #2D676D;

    --primary-font: 'Arial', sans-serif;
}

html {
    font-size: 16px; 
    line-height: 1.6rem;
    font-family: var(--primary-font);
}
.h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/*basic styling for header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink);
    padding: 20px;  
}
/*logo styling in header*/
header img {
    width: 300px;
    display: block;
}
/*navigation styling in header */
header nav {
    text-align: center;
    margin-top: 10px;
}
/*navlist in header*/
header nav ul {
    list-style-type: none;
    margin: 10px;
}
/*navlist items in header*/
header nav ul li {
    display: inline;
    margin:10px;

} 
header nav ul li a {
    font-family: var(--primary-font);
    color: var(--text-color);
    text-decoration: none;   
    font-size: 1.2rem  ;   
}

/*start for the layout of the index.html page*/
.main-content {
    background-color: var(--bg-color);
    color: var(--text-color);
}
/*layout for hero section with bg-image and text overlay*/
.hero {
    display: grid;
    background-image: url(../images/female-artist-ai.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-bottom: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto auto;
    gap: 30px;
 }
 .creative, .inclusion, .care {
    font-size: 1rem;
    color: var(--bg-color);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    margin-top: 200px;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    width: 40ch;
 }
.creative {
    grid-column: 1 / 2  ;
    justify-self: center;
}
.inclusion {
    grid-column: 2 / 3 ;
    justify-self: center;
}   
.care {
    grid-column: 3 / 4 ;
    justify-self: center;
}
/*layout for book now button in hero section*/
.booknow {
    grid-column: 1 / 4 ;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--pink);
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
}

/*layout for welcome text*/
.welcome-text {
    text-align: center;
    padding: 20px;
}

/*layout for tattoo artists section*/
.our-tattoo-artists {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    padding: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
} 
.our-tattoo-artists article {
    flex: 1;
    gap: 20px;
}   
.our-tattoo-artists img {
    width: auto;
    height: 150px;
    border-radius: 50%;
}   

/*start for the layout of the book.html page*/
.book-appointment {
    text-align: center;
    margin: 20px 0;
}
/*layout for hero section*/
.hero-book-page {
    animation: slideshow 45s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-bottom: 4rem;
}
/*slideshow animation for hero section*/   
@keyframes slideshow {
    0%   { background-image: url(../images/female-artist-ai.jpg); }
    20%  { background-image: url(../images/sleeve-tattoo-pexels-kevinbidwell.jpg); }
    40%  { background-image: url(../images/male-artist-ai.jpg); }
    65%  { background-image: url(../images/bw-sketches-pexels-cottonbro.jpg); }
    80%  { background-image: url(../images/female-artist-2-ai.jpg); }   
    100% { background-image: url(../images/female-artist-ai.jpg); } 
}
/*layout for booking information section with a grid to postion the sections*/
.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}  
/*layout for step by step booking section*/ 
.step-by-step-booking {
    text-align: left;   
    padding: 40px;
    margin-left: 100px;
}

.step-by-step-booking ul {
    list-style-type: decimal;
    margin-left: 20px; 
}
.step-by-step-booking li {
    font-weight: bold;
    margin-top: 5px;
}
/*layout for form section*/
.form-section {
    width: 900px;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    border: #25555a solid 2px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.form{
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 10px;
}
.pick-file {
    background-color: var(--pink);
    color: var(--bg-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}
.send-request {
    background-color: var(--pink);
    color: var(--bg-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}
/*container for test-ideas and remember to place them side by side*/
.bottom-sections {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}
/*layout for test idea section*/
.test-ideas {
    text-align: center;
    width: 440px;
    padding: 20px;
    border: #25555a solid 2px;
}
/*layout for remember section*/
.remember {
    text-align: center;
    width: 440px;
    padding: 20px;  
    border: #25555a solid 2px;
}   

/* Hitta hit styling */

.find-us-title {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*https://pixabay.com/photos/travel-pinned-pinning-maps-atlas-2650303/*/
    background-image: url(../images/map.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.find-us-intro {
    text-align: center;
    max-width: 35rem;
    margin: 1rem auto;
}

/* flex layout to structure find us information */
.find-us-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.find-us-row-center {
    justify-content: center;
}

.find-us-row section {
    flex: 1;
    min-width: 15rem;
    max-width: 17rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.find-us-row h2 {
    margin-bottom: 0.3rem;
}

/* FAQ styling */

.faq-container {
    width: 50%;
    margin: 0 auto;
}

.faq-title {
    text-align: center;
    margin-bottom: 1rem;
}

.faq-category {
    margin-top: 1rem;
}

.faq-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    margin-top: 0.5rem;
}


.faq-category .faq-item:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.faq-category h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-category .expand-icon {
    font-size: x-large;
    margin-right: 0.5rem;
}

/*gallery styling*/
main.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    width: 20%;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8, .gallery9 {
    padding: 1rem;
    width: 300px;
    height: 300px;
}
img.gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.gallery2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border: 2px black solid;
}
.gallery3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    border: 2px black solid;
}
.gallery4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border: 2px black solid;
}
.gallery5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: 2px black solid;
}
.gallery6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    border: 2px black solid;
}
.gallery7 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    border: 2px black solid;
}
.gallery8 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    border: 2px black solid;
}
.gallery9 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/*layout for footer*/
.footer {
    background-color: var(--pink);
    color: var(--bg-color);
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}