/*reset margin and padding for all elements*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px; 
    line-height: 1.6;
}

/*basic styling for header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECE2D8;
    padding: 20px;  
}
/*logo styling in header*/
header img {
    width: 100%;
    display: block;
}
/*navigation styling in header */
header nav {
    text-align: center;
    margin-top: 10px;
}
/*navlist in header*/
header nav ul {
    list-style-type: none;
    margin: 10px;
}
/*navlist items in header*/
header nav ul li {
    display: inline;
    margin:10px;
} 

/*start for the layout of the index.html page*/
/*layout for hero section*/
section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/female-artist-ai.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}
section.hero h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}
/*layout for welcome text*/
section.welcome-text {
    text-align: center; 
}
/*layout for charity section*/
section.charity {
    text-align: center;
    margin: 20px 0;
}
/*layout for tattoo artists section*/
section.our-tattoo-artists {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 

/*start for the layout of the book.html page*/
section.book-appointment {
    text-align: center;
    margin: 20px 0;
}
/*layout for hero section*/
section.hero-book-page {
    animation: slideshow 45s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 600px;
}
/*slideshow animation for hero section*/   
@keyframes slideshow {
    0%   { background-image: url(../images/female-artist-ai.jpg); }
    20%  { background-image: url(../images/sleeve-tattoo-pexels-kevinbidwell.jpg); }
    40%  { background-image: url(../images/male-artist-ai.jpg); }
    65%  { background-image: url(../images/bw-sketches-pexels-cottonbro.jpg); }
    80%  { background-image: url(../images/female-artist-2-ai.jpg); }   
    100% { background-image: url(../images/female-artist-ai.jpg); } 
}
/*layout for booking information section with a grid to postion the sections*/
section.book-info {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    text-align: center;
    margin: 20px 0;
}  
/*layout for step by step booking section*/ 
section.step-by-step-booking {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: left;
    margin: 20px 40px;   
}
/*layout for form section*/
section.form-section {
    grid-column: 2 / 3;
    grid-row: 1;
    text-align: left;
    margin: 20px 40px;
}
/*layout for test idea section*/
section.test-ideas {
    grid-column: 1 / 2;
    grid-row: 2;
    text-align: left;
    margin: 20px 40px;
}
/*layout for remember section*/
section.remember {
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: left;
    margin: 20px 40px;
}   

/* Hitta hit styling */

.find-us-title {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*https://pixabay.com/photos/travel-pinned-pinning-maps-atlas-2650303/*/
    background-image: url(../images/map.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.find-us-intro {
    text-align: center;
    max-width: 35rem;
    margin: 1rem auto;
}

/* flex layout to structure find us information */
.find-us-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.find-us-row-center {
    justify-content: center;
}

.find-us-row section {
    flex: 1;
    min-width: 15rem;
    max-width: 17rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.find-us-row h2 {
    margin-bottom: 0.3rem;
}

/* FAQ styling */

.faq-container {
    width: 50%;
    margin: 0 auto;
}

.faq-title {
    text-align: center;
    margin-bottom: 1rem;
}

.faq-category {
    margin-top: 1rem;
}

.faq-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    margin-top: 0.5rem;
}


.faq-category .faq-item:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.faq-category h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-category .expand-icon {
    font-size: x-large;
    margin-right: 0.5rem;
}

/*gallery styling*/
main.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    width: 20%;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8, .gallery9 {
    padding: 1rem;
    width: 300px;
    height: 300px;
}
img.gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.gallery2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border: 2px black solid;
}
.gallery3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    border: 2px black solid;
}
.gallery4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border: 2px black solid;
}
.gallery5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: 2px black solid;
}
.gallery6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    border: 2px black solid;
}
.gallery7 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    border: 2px black solid;
}
.gallery8 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    border: 2px black solid;
}
.gallery9 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}