/*reset margin and padding for all elements*/
* {
    margin: 0;
    padding: 0;
}
/*basic styling for header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECE2D8;
    padding: 20px;  
}
/*logo styling in header*/
header img {
    width: 100%;
    display: block;
}
/*navigation styling in header */
header nav {
    text-align: center;
    margin-top: 10px;
}
/*navlist in header*/
header nav ul {
    list-style-type: none;
    margin: 10px;
}
/*navlist items in header*/
header nav ul li {
    display: inline;
    margin:10px;
} 
/*layout for hero section*/
section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/female-artist-ai.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}
section.hero h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}
/*layout for welcome text*/
section.welcome-text {
    text-align: center; 
}
/*layout for charity section*/
section.charity {
    text-align: center;
    margin: 20px 0;
}
/*layout for tattoo artists section*/
section.our-tattoo-artists {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}   
