/*reset margin and padding for all elements*/
* {
    margin: 0;
    padding: 0;
}
/*basic styling for header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;  
}
/*logo styling in header*/
header img {
    padding: 20px;
}
/*navigation styling in header */
header nav {
    text-align: center;
    margin-top: 10px;
}
/*navlist in header*/
header nav ul {
    list-style-type: none;
    margin: 10px;
}
/*navlist items in header*/
header nav ul li {
    display: inline;
    margin:10px;
} 
/*styling for hero section*/
section.hero {
    text-align: center;
    margin: 20px 0;
}